__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.pytest_cache/
.coverage
.env
*.egg-info/
runs/
*.pkl
.DS_Store
.vscode/
.idea/
data/
shashank/__pycache__
shashank/cos_dist_mat_visualization
shashank/cos_dist_matrix_visualizations
shashank/shashank_data
shashank/shashank_models
shashank/shashank_predictions
shashank/shashank_predictions2
shashank/visualizations
